{% extends "base.html" %}
{% block title %}ОТЛ10{% endblock %}

{% block content %}
<h1> ОТЛ10</h1>

<div class="card">
 <div class="card-header"> Видео</div>
 <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 10px;">
 <iframe
 src="https://rutube.ru/play/embed/c6cc4d620b1d4338901770a44b3e82f4/"
 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; border-radius: 10px;"
 allowfullscreen
 allow="clipboard-write; autoplay">
 </iframe>
 </div>
</div>
{% endblock %}
